<div class="search-home">
  <form action="/search" method="get" class="form-inline">
    <fieldset>
      <legend>
        Search For Your Fav Flicks
      </legend>

          <div class="input-append">
            <input type="search" class="input-large" name="q" id="search-query" placeholder="Enter a movie name">

            <button name="button" value="search" class="search btn btn-primary">Search</button>
            <button name="button" value="lucky" class="lucky btn">I'm Feeling Lucky</button>
          </div>


    </fieldset>
  </form>
</div>