<form action="/search" method="get">
  <input type="search" name="q" autofocus placeholder="Enter a movie name">
  <button name="button" value="lucky">I'm Feeling Lucky</button>
  <button name="button" value="search">Search</button>
</form>