<ol class="results">
  <% @results.each do |result| %>
    <li><a href="/movies?id=<%= URI.escape(result["imdbID"]) %>&amp;q=<%= URI.escape(@q) %>"><%= result["Title"] %></a> (<%= result["Year"] %>)</li>
  <% end %>
</ol>